*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* BODY */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.compras{
    z-index: 1;
    position: relative;
}

/* Header */
header{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.151);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem;
}
.nav h1{
    font-weight: 400;
}
#titulo-principal{
    font-weight: 800;
    text-transform: uppercase;
    color: #E0B36E;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.151);
}

/* Carrito */

.bi {
    font-size: 1.8rem;
    color: #E0B36E;
} 


/* Productos */
.contenedor{
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    /* oculto lo que queda fuera del .contenedor */
}
.contenedor-producto{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px;
    width: 100%;
}
.producto-detalle{
    max-width: 250px;
    margin: auto;
    border: 2px solid #E0B36E;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    transition: 200ms;
}
.producto-img{
    width: 100%;
}
.producto-detalle:hover{
    box-shadow: 0 0 10px #E0B36E;
    scale: 1.05;
}

/* BOTON */
button {
    background-color: #E0B36E;
    cursor: pointer;
    border: unset;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
}

/* CARRITO */

.contenedor-carrito {
    position: relative;
    display: inline-block;
}

.menu-compra {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contenedor-carrito:hover .menu-compra {
    display: block;
}


.menu-compra-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 3rem;
}
.img-carrito{
    width: 75px;
}
.titulo-carrito{
    margin: 0;
    padding: 0;
}

.textos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.textos h3{
    gap: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* DETALLES PRODUCTO */
.producto-detalle p{
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 5px;
}
.producto-detalle h2{
    text-transform: uppercase;
    padding-top: 5px;
}

/* DETALLES CARRITO */
.precio-carrito, .cantidad-carrito{
    font-weight: 800;
    font-size: 20px;
}
.titulo-carrito{
    font-weight: 800;
    text-transform: uppercase;
}