*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* .contenedor{
    
} */
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
img{
    max-width: 50%;
}
.producto-detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
header h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
header{
    padding: 1rem;
}